#items_list table{
	width: auto;
}
#items_list table tr{
	border:1px solid;
	border-radius: 8px;
}
#items_list table td figcaption{
	text-align: center;
}
#items_list table td:first-child{
    width: 155px;
    height: 125px;
}
#items_list table td:first-child img{
    width: 155px;
    height: 115px;
}
#items_list table td:nth-child(2) {
	padding-left: 3px;
	width: 100%;
}
#items_list table td:nth-child(3){
	width: 72px;
}
#items_list table td:last-child{
	padding-bottom: 118px;
	width: 11px;
}
#items_list #delete_ad{
    font-weight: 800;
	color: #E44B4B;
}

#items_list .odd{
	background-color: #F5F5F5;
}