<link rel="stylesheet" href="views/category/category.css">

<div  ng-controller="category_ctrl">
	<div class="row">
		<ads-list>{{category}}</ads-list>
		<!-- <h3>{{category}}</h3>
		<table >
			<tr ng-repeat="item in ads">
				<td>
					<a href="#detals/{{item.id}}">
						<figure>
							<figcaption>{{item.name}}</figcaption>
							<img src="#">
						</figure>
					</a>
				</td>
				<td>{{item.message}}</td>
				<td>{{item.date | date:"MM/dd/yyyy "}}</td>
			</tr>
		</table> -->
	</div>
</div>