#profile{
	display: inline-table;
	width: 30%;
}
#profile img{
	width: 120px;
	height: 130px;
}
#whole{
	display: inline-table;
	width: 69%;
}
#whole a#new_ad{
	float: right;
    font-size: 16px;
    color: #0F7182;
    margin-right: -7px;
    background-color: #FDFC6F;
    border-radius: 8px;
    margin-top: -1px;
}

#whole a#new_ad:hover{
   text-decoration: none;
   background-color: #C2EC0D;
   padding: 3px;
   font-size: 18px;
   border-radius: 5px;
}





